<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        
    </head>
    <body>
        <svg width="100%" height="300px" xmlns="http://www.w3.org/2000/svg">
            <rect width="100%" height="300" fill="blue" />
            <circle cx="35%" cy="150" r="30" fill="white" />
            <circle cx="65%" cy="150" r="30" fill="red" />
            <polygon points="100,10 150,190 50,190" fill="green" />
        </svg>

        <nav class="menu">
            <ul>
                <li><a href="../index.html">Home Page</a></li>
                <li><a href="./two.html">Page Two</a></li>
                <li><a href="./three.html">Page Three</a></li>
            </ul>
        </nav>
        <h1>Favorite Coding Resources</h1>
        <table>
            <caption>My Favorite Coding Resources</caption>
            <thead>
                <tr>
                    <th>Coding Resource</th>
                    <th>Link to Resource</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mozilla Developer Network(MDN)</td>
                    <td><a href="https://developer.mozilla.org/en-US/docs/Web">https://developer.mozilla.org/en-US/docs/Web</a></td>
                </tr>
                <tr>
                    <td>Stack Overflow</td>
                    <td><a href="https://stackoverflow.com/">https://stackoverflow.com/</a></td>
                </tr>
                <tr>
                    <td>The Odin Project</td>
                    <td><a href="https://theodinproject.com">https://theodinproject.com</a></td>
                </tr>
                <tr>
                    <td>GitHub Docs</td>
                    <td><a href="https://docs.github/en">https://docs.github/en</a></td>
                </tr>
            </tbody>
        </table>
        <link rel="icon" href="../resources/favicon.svg" type="image/svg+xml">
    </body>
</html>